:root {
    --bg-geral: linear-gradient(180deg, #add8e6 0%, #ffffff 100%);
    --texto-principal: #1a202c;
    --cor-primaria: #5e48ff;
    --cards-bg: rgba(255, 255, 255, 0.4);
    --sombra: rgba(0, 0, 0, 0.5);
}

body.dark-mode {
    --bg-geral: radial-gradient(circle at 50% 50%, #1b0c33 0%, #0d0d1a 100%);
    --texto-principal: #ffffff;
    --cor-primaria: #a78bff;
    --cards-bg: rgba(255, 255, 255, 0.5);
    --sombra: rgba(0, 0, 0, 0.05);
}

.galaxy-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: 
        radial-gradient(circle at 20% 30%, rgba(70, 0, 150, 0.3), transparent 40%),
        radial-gradient(circle at 80% 70%, rgba(0, 50, 120, 0.3), transparent 40%),
        radial-gradient(circle at 50% 50%, rgba(40, 0, 80, 0.4), transparent 60%),
        #05050a; /* Cor de fundo bem escura */
    filter: contrast(120%) brightness(110%);
}

.galaxy-bg::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    opacity: 0.2; /* Isso dá a textura de galáxia real */
    pointer-events: none;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 4px;
    height: 4px;
    background: transparent;
    z-index: -1;

    box-shadow:
        10vw 20vh 3px #fff, 25vw 50vh 4px #fff, 45vw 10vh 2px #fff, 
        70vw 80vh 3px #fff, 90vw 30vh 4px #fff, 15vw 90vh 2px #fff,
        35vw 60vh 5px #fff, 55vw 40vh 3px #fff, 80vw 5vh 4px #fff,
        12vw 15vh 2px #fff, 60vw 65vh 4px #fff, 85vw 85vh 3px #fff,
        5vw 5vh 2px #fff, 95vw 95vh 3px #fff, 50vw 50vh 6px #fff,
        20vw 30vh 3px #fff, 40vw 70vh 4px #fff, 75vw 25vh 2px #fff,
        65vw 55vh 3px #fff, 30vw 10vh 4px #fff, 5vw 80vh 2px #fff,
        88vw 45vh 3px #fff, 55vw 5vh 4px #fff, 18vw 60vh 3px #fff;

    animation: blinkStars 4s infinite ease-in-out;
}

.stars2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 3px;
    height: 3px;
    background: transparent;
    z-index: -1;

    box-shadow: 
        55vw 70vh 2px #fff, 85vw 15vh 2px #fff, 30vw 85vh 2px #fff,
        5vw 40vh 2px #fff, 50vw 50vh 2px #fff, 20vw 75vh 2px #fff,
        80vw 60vh 2px #fff, 40vw 10vh 2px #fff, 12vw 45vh 2px #fff,
        95vw 5vh 2px #fff, 60vw 90vh 2px #fff, 33vw 22vh 2px #fff,
        77vw 33vh 2px #fff, 44vw 88vh 2px #fff, 18vw 12vh 2px #fff,
        92vw 66vh 2px #fff, 5vw 95vh 2px #fff, 48vw 15vh 2px #fff,
        72vw 78vh 2px #fff, 2vw 25vh 2px #fff, 88vw 42vh 2px #fff,
        66vw 5vh 2px #fff, 39vw 61vh 2px #fff;
    
    animation: blinkOnly 6s infinite ease-in-out;
}

@keyframes blinkStars {
    0%, 100% {opacity: 0.2; transform: scale(1);}
    50% {opacity: 1;}
}

@keyframes nebulaMovement {
    from { transform: scale(1);}
    to { transform: scale(1.1) rotate(1deg);}
}

body.dark-mode .stars {
    box-shadow: 10vw 20vh 1px #fff, 35vw 45vh 2px #fff, 80vw 10vh 1px #fff, 60vw 85vh 2px #fff;
    opacity: 0.5;
}

body.light-mode .stars {
    box-shadow: 15vw 25vh 2px #87CEEB, 40vw 35vh 3px #87CEEB, 75vw 15vh 2px #87CEEB;
    opacity: 0.2;
}



.btn-tema {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 0 15px;
    transition: transform 0.3s ease;
}

.btn-tema:hover {
    transform: scale(1.2);
}

.icon-sol {
    display: none;
}

.icon-lua {
    display: inline;
}

body.dark-mode .icon-sol {
    display: inline;
}

body.dark-mode .icon-lua {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg-geral);
    color: var(--texto-principal);
    transition: color 0.3s ease;
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    padding: 20px 10%;
    background: transparent;
    align-items: center;
}

.menu-toggle {
    display: none;
    width: 30px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background: transparent;
    z-index: 1100;
    position: relative;
}

.bar {
    display: block;
    width: 100%;
    height: 3px;
    background: #5e48ff;
    border-radius: 2px;
}

.nav-links {
    display: flex;
    text-decoration: none;
    color: var(--texto-principal);
    font-weight: 500;
    transition: 0.3s ease;
    list-style: none;
    gap: 20px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    text-decoration: none;
    color: var(--texto-principal);
}

.nav-links a:hover {
    color: #5e48ff;
}

.nav .logo {
    flex: 1;
}

.logo span {
    color: #5e48ff;
}

.nav ul {
    display: flex;
    gap: 25px;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    background: transparent;
    text-align: center;
    gap: 20px;
}


.hero h1 {
    font-size: 3.75rem;
    margin-bottom: 5px;

    color: var(--texto-principal);

}

.maquina-escrever {
    font-family: monospace;
    overflow: hidden;
    border-right: 3px solid #5e48ff;
    white-space: nowrap;

    width: 0;

    animation: typing 3s steps(19) forwards, blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 19ch;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #5e48ff;
    }
}

/* Versão animada para celular*/
@keyframes typing-mobile {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.hero p {
    background: transparent;
    font-size: 1.25rem;
    margin-top: 0%;
    margin-bottom: 20px;
    color: var(--texto-principal);
    opacity: 0.8;
}

.hero span {
    color: #5e48ff;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 5%;
    padding-bottom: 10%;
}

.about-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.about-grid {
    display: flex;
    gap: 40px;
}

.about-text {
    flex: 1;
    text-align: left;
}

.titulo-centralizado {
    font-size: 2.25rem;
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.conteudo-dividido {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.about-text p {
    background: transparent;
    font-size: 1.25rem;
    padding-bottom: 15px;

}

h2 span {
    color: #5e48ff;
}

.pt {
    background: transparent;
}

.about-cards {
    flex: 1;
}


.card {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), 
                0 0 15px rgba(138, 43, 226, 0.1);
    background: rgba(255, 255, 255, 0.05) !important;
    backdrop-filter: blur(10px) saturate(150%);
    transition: transform 0.3s ease;
    margin-bottom: 15px;
    border: 1px solid rgb(255, 255, 255, 0.1);
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08),
                0 0 20px rgba(138, 43, 226, 0.2)
}

.card h3 {
    color: var(--texto-principal);
    background: transparent;
    margin-bottom: 10px;
}

.card p {
    color: var(--texto-principal);
    opacity: 0.8;
    background: transparent;
}

.about-buttons {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.btn-main {
    text-decoration: none;
    display: inline-block;
    text-align: center;

    background: #5e48ff;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

.btn-outline {
    display: inline-block;
    text-decoration: none;
    text-align: center;

    border: 2px solid #5e48ff;
    padding: 15px 20px;
    border-radius: 30px;
    background: transparent;
    margin-left: 10px;
    cursor: pointer;
    color: var(--texto-principal);
}

section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

/*SKILLS*/
.filters {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.80rem;

}

.filters button {
    margin: 10px;
    padding: 10px 30px;
}

.btn-filter {
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--texto-principal);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn-filter.active {
    background-color: #5e48ff;
    color: white;
    border-color: #5e48ff;
}



.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px 20px;
}

.skill-card {
    background-color: var(--bg-geral);
    padding: 30px 30px;
    border: none;
    color: var(--texto-principal);
    border-radius: 10px;
    text-align: center;
    min-width: 200px;

    transition: transform 0.3s ease, box-shadow 0.3s ease;

    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

.skill-card:hover,
.skill-card:active {
    transform: scale(1.05) translate(-5px);
    box-shadow: 0 15px 30px rgba(94, 72, 255, 0.3);
    border: 1px solid #5e48ff;
    cursor: pointer;
}

.skill-card.hide {
    display: none;
}

#skills h2 {
    font-size: 2.25rem;
    text-align: center;
    padding-bottom: 1.25rem;
}

.projetos {
    padding: 80px 10%;
    text-align: center;
    padding-bottom: 20%;
}

.projetos h2 {
    font-size: 2.25rem;
}

.projetos span {
    color: #5e48ff;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 40px;
}

projeto-card {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 15px;
}

.contato {
    padding: 80px 10%;
    text-align: center;
}


.subtitle {
    margin: 20px auto 50px;
    max-width: 500px;
    background: transparent;
    font-size: 1.25rem;
    margin-bottom: 70px;
}

.contato h2 {
    font-size: 2.25rem;
    background: transparent;
    color: var(--texto-principal);
}

.contato-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
}


.info-contato {
    text-align: left;
    width: 40%;
}

.info-contato h3 {
    padding: 20px;
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.info-item p {
    background: transparent;
    margin-top: 10px;
}

.info-item a {
    background: #f6f7fb;
    text-decoration: none;
}

.info-item a p {
    background: transparent;
    text-decoration: none;

}

.icon {
    background: var(--bg-geral);
    border-radius: 50%;
    margin-right: 15px;

    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;

    flex-shrink: 0;
}

/* FORM */
.contato-form {
    background-color: transparent;
    color: var(--texto-principal);
    /* Reduzi para 10px para o vidro ficar nítido e não cinza opaco */
    backdrop-filter: blur(10px) saturate(150%);
    -webkit-backdrop-filter: blur(10px) saturate(150%);
    padding: 40px;
    border-radius: 15px;
    /* Adicionei para arredondar os cantos */
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.contato-form h3 {
    text-align: center;
    color: var(--texto-principal);
    font-size: 1.7rem;
    margin-bottom: 10px;
    background-color: transparent;
}


.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 8px;
    color: var(--texto-principal);
    transition: all 0.3s ease;
}

.contato-form input:focus,
.contato-form textarea:focus {
    border-color: #5e48ff;
    background-color: rgba(94, 72, 255, 0.1);
}

.contato-form textarea {
    height: 120px;
    resize: none;
}

.contato-form button {
    background-color: #7c69d4;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.contato-form button:hover {
    background-color: #6a56c0;
}

footer p {
    text-align: center;
    padding: 20px;
    background: transparent;
    color: var(--texto-principal);
    font-size: 0.9rem;
    margin-top: 100px;
}


@media (max-width: 768px) {

    .menu-toggle {
        display: flex;
        position: relative;
    }

    .nav-links {
        display: none !important; 
        position: fixed !important; /* Fixed garante que cubra a tela mesmo com scroll */
        top: 0;
        left: 0 !important;
        transform: none !important; /* Mata o erro da metade da tela */
        width: 100vw; 
        height: 100vh;
        
        background: var(-); 
        backdrop-filter: blur(15px);
        z-index: 1000;
        
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        padding: 0;
        margin: 0;
        list-style: none;

        -webkit-tap-highlight-color: transparent;
    }

    .nav-links.active {
        display: flex !important;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links li a {
        font-size: 1.8rem;
        color: var(--texto-principal);
        text-align: center;
        display: block;
        width: 100%;
    }

    .nav-item-tema {
        list-style: none;
        margin-top: 10px;
    }

    .btn-tema {
        background: rgb(255, 255, 255, 0.1);
        border: 1px solid rgb(167, 139, 250, 0.3);
        padding: 10px 20px;
        border-radius: 50px;
        cursor: pointer;
    }

    /* Estilo apenas para o computador*/
    .nav-item-tema {
        margin-left: 20px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .maquina-escrever {
        white-space: nowrap;
        font-size: 1.2rem;
        display: inline-block;

        animation: typing-mobile 3s steps(19) forwards, blink-caret .75s step-end infinite;
    }

    .skill-card {
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @keyframes typing {
        to {
            width: 100%;
        }
    }

    .about-grid,
    .conteudo-dividido,
    .contato-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .info-contato,
    .contato-form {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .about-text {
        text-align: center;
    }
}